<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl font-montserrat" routerLink="/"
      >Teslo
      <span class="text-secondary">| Shop</span>
    </a>
  </div>
  <div class="flex-none">
    <!-- en lg se va mostrar -->
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a routerLink="/gender/men" routerLinkActive="text-secondary"
            >Hombres</a
          >
        </li>
        <li>
          <a routerLink="/gender/kids" routerLinkActive="text-secondary"
            >Niños</a
          >
        </li>
        <li>
          <a routerLink="/gender/women" routerLinkActive="text-secondary"
            >Mujeres</a
          >
        </li>
      </ul>
    </div>
    <!-- en large se va a ocultar -->
    <ul class="menu menu-horizontal px-1 lg:hidden">
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li>
              <a routerLink="/gender/men" routerLinkActive="text-secondary"
                >Hombres</a
              >
            </li>
            <li>
              <a routerLink="/gender/kids" routerLinkActive="text-secondary"
                >Niños</a
              >
            </li>
            <li>
              <a routerLink="/gender/women" routerLinkActive="text-secondary"
                >Mujeres</a
              >
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end gap-4">
    <!-- Admin Button -->
    @if (authService.isAdmin()) {
    <a routerLink="/admin" class="btn btn-secondary btn-sm">Admin Panel</a>
    }
    <!--  -->
    @if (authService.autStatus() === 'authenticated') {
    <button class="btn btn-ghost">{{ authService.user()?.fullName }}</button>
    <button class="btn btn-sm btn-error" (click)="authService.logout()">
      Salir
    </button>
    }
    <!--  -->
    @else if (authService.autStatus() === 'not-authenticated') {
    <a class="btn btn-secondary btn-sm" routerLink="/auth/login">Login</a>
    }
    <!--  -->
    @else {
    <button class="btn btn-ghost">...</button>
    }
  </div>
</div>
